.CarPageGallery{
    width: 500px;
    height: 430px;
    padding: 50px;
    margin-bottom: 100px;
    .image-gallery-content{
        padding: 1px;
        border-radius: 4px;
    }
    .image-gallery-svg{
        width: 40px;
        height: 40px;

    }
    .image-gallery-image{
        height: 430px;

    }
    .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
        border: 2px solid black;
    }
    .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover{
        border: 2px solid black;
    }

}
.AuctionList{
    width: 500px;
    padding: 50px;
}