.Contacts{
    font-family: 'TildaSans', Arial, sans-serif;
    height: 350px;
    .header{
        font-weight: 600;
        font-size:  16px;
    }

    padding-top: 150px;
    padding-bottom: 150px;
    .contacts{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        font-size: 36px;
        font-weight: 600;
        a{
            text-decoration: none;
            color: black;
        }

    }
    .header2{
        margin-top: 45px;
        
    }
    .icons{
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap:10px
    }
}