.CarPageDescription{
    margin: 30px;
    display: flex;

    .TextDescription{
        display: flex;
        flex-direction: column;
        align-items:start;
        padding: 20px;
        h1{
            font-size: 25px;
            margin: 0;
        }
        .CarPageDescription__values{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    }

}
