.CarPageDescription{
    margin: 30px;
    display: flex;

    .TextDescription{
        display: flex;
        flex-direction: column;
        align-items:start;
        padding: 20px;
        h1{
            font-size: 25px;
            margin: 0;
        }

    }
    .CarPageDescription__values{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items:start;
        font-size: 18px;
        font-weight: 500;
        padding-left: 0;
        span{
            margin-right: 5px;
            font-weight: normal;
            color: #3e4246;
        }
    }

}
