.Description{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            width: 400px;
            text-align: left;
            font-size: 40px;
            font-weight: 600;
        }
        span{
            font-family: 'TildaSans',Arial,sans-serif;
            font-weight: 300;
            font-size: 19px;
            text-align: left;
            display: block;
            width: 600px;
            font-size: 19px;
            margin-top: 23px;
            line-height: 1.55;
        }
        
    }
    .images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        padding: 20px;
        img{
            width: 220px;
            height: 220px;
            object-fit: cover;

            
        }
    }
}
@media screen and (max-width:1085px) {
    .Description{
        .images{
            padding: 5px;
            img{
                width: 180px;
                height: 180px;
            }
        }
        .text{
            span{
                width: 400px ;
            }
        }
    }

}
@media screen and (max-width:1000px) {
    .Description{
        padding-bottom: 15px;
        flex-direction: column;
        align-items: center;
        .text{
            h1{
                margin-bottom: 5px;
            }
            span{
                text-align: center;
                padding: 5px;
            }

        }
        .images{
            width: 400px;
        }
    }

}
@media screen and (max-width:500px) {
    .Description{
        .text{
            h1{
                text-align: center;
            }
        }
        .images{
            width: 300px;
            img{
                width: 150px;
                height: 150px;
            }
        }
    }

}
@media screen and (max-width:450px) {
    .Description{
        .text{
            h1{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                width: 300px;
            }
            span{
                text-align: center;
                padding: 0;
                width: 310px;
                font-size: 17px;

            }
        }
    }

}