.CarPageDescription{
    margin: 30px;
    display: flex;

    .TextDescription{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 20px;
        width: 800px;
        h1{
            font-size: 25px;
            margin: 0;
        }
        .CarPageDescription__values{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    }

}

@media screen and (max-width:1575px) {
    .CarPageDescription{
        flex-direction: column;
        .TextDescription{
            overflow-y: scroll;
        }

    }
    .AuctionListDescription{
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width:1050px) {
    .CarPageDescription{
        flex-direction: column;
        .TextDescription{
            overflow-x: scroll;
            width: 90vw;
        }

    }
}
@media screen and (max-width:1050px) {
    .AuctionListDescription{
        width: 90vw;
        flex-direction: column;
        align-items: start;

    }
}
@media screen and (max-width:1050px) {
    .AuctionListDescription{
        width: 90vw;
        flex-direction: column;
        align-items: start;

    }
}
@media screen and (max-width:650px) {
    .CarPageDescription{
        .image-gallery{
            padding: 0;
            margin-left: 5px;
            width: 350px;

        }
        .TextDescription{
            .CarPageDescription__values{
                grid-template-columns: 1fr;
    
            }
        }

        width: 90vw;
        flex-direction: column;
        align-items: start;

    }
}
@media screen and (max-width:550px) {
    .CarPageDescription{
        margin-left: 0;
        margin-right: 0;
        .image-gallery{
            padding: 0;

            .CarPageGallery{
                width: 150px;

            }
            .image-gallery-slide-wrapper{
                width: 400px;
            }
            .image-gallery-thumbnails .image-gallery-thumbnails-container {
                overflow-x: hidden;
            }
        }
        .TextDescription{
            width: 350px;
        }

    }
}
@media screen and (max-width:500px) {
    .CarPageDescription{
        .image-gallery-content{
            overflow-x: scroll;
            width: 90vw
        }

    }
}
@media screen and (max-width:500px) {
    .AuctionListDescription{
        img{
            width: 90vw;
        }

    }
}
@media screen and (max-width:400px) {
    .CarPageDescription{
        .TextDescription{
            padding: 0;
            width: 300px;
            .DescriptionItem{
                .item{
                    .content{
                        width: initial
                    }
                }
            }
        }

    }
}
@media screen and (max-width:400px) {
    .CarPageDescription{
        .image-gallery-content{
            overflow-x: scroll;
            width: 300px;
        }

    }
}